<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Edit task</title>
        
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script src='../../frameworks/bootbox/bootbox.min.js'></script>
        
        <script src='../../model/Task.js'></script>
        <script src='../utility/url_Utility.js'></script>
        <script src='../../service/Service.js'></script>
        <script src='../controllers/edit_Ctrl.js'></script>
    </head>
    <body>
        <div class='container center_login'>
            <h2>Update task</h2>
            <div class="col-xs-4">
                <div class='form-group'>
                    <label for='txt_TaskName'>Task name</label>
                    <input type='text' class='form-control' id='txt_TaskName' />
                </div>
                <button type='button' class='btn btn-primary' id='btn_Back'>Back</button>
                <button type='button' class='btn btn-primary' id='btn_Save'>Save</button>
            </div>
        </div>
    </body>
</html>
