<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Tasks</title>
        
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script src='../../frameworks/bootbox/bootbox.min.js'></script>
        
        <script src='../utility/url_Utility.js'></script>
        <script src='../../service/Service.js'></script>
        <script src='../controllers/tasks_Ctrl.js'></script>
    </head>
    <body>
        <div class='container'>
            <h2>Tasks to do</h2>
            <ul id='ls_tasks'></ul>
            <button type='button' class='btn btn-primary' id='btn_Add'>Add</button>
            <button type='button' class='btn btn-primary' id='btn_LogOut'>Log out</button>
        </div>
    </body>
</html>
 